$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;

.carousel-item {
  display: none;
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: none;
}

footer {
  display: none;
}

.container {
  display: none;
}

nav.navbar {
  display: none;
}

#sign-up {
  display: block;
}

#sign-in {
  display: block;
}

#change-password {
  display: none;
}

#sign-out {
  display: none;
}

#commentsHeader {
  display: block;
  text-align: center;
}

li {
  background: gray;
  border: 3px solid $black;
  border-radius: 5px;
  list-style: none;
  margin: 10px;
  padding: 5px;
}

.deleteMe {
  float: right;
  background: yellow;
}
